body {
    background: #f9f1f0;
}

.his-search-bar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.his-search-form {
    display: flex;
    gap: 10px;
}

.his-search-form input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000000;
    font-size: 30px;
    width: 600px;  /* Szerokość paska wyszukiwania */
}

.his-search-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.his-search-button:hover {
    color: #f4b9b8;
}

.calendar-picker {
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid #000000;
  margin-left: 0px;
}

.historia-lista {
  list-style: none;      /* usuwa kropki */
  padding-left: 0;       /* usuwa wcięcie listy */
  margin-left: 0;        /* dodatkowo upewnia się, że nic nie zostaje */
}

.shadow-panel {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 30px;
  margin: 40px auto;
  max-width: 900px;
  /*box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);*/
  text-align: center;
}

.shadow-panel h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #000000;
}

.shadow-panel p {
  font-size: 15px;
  color: #000000;
}
