body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*pierwszy pasek nawigacyjny*/
.navbar {
    background-color: #887bb0;
    padding: 60px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a,
.navbar form {
    margin-left: 15px;
}

.navbar button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
}

.navbar button:hover {
    background-color: #f4b9b8;
}

.content {
    padding: 20px;
}

.user-info {
    margin-right: 10px;
}

/*drugi pasek nawigacyjny*/
.sub-navbar {
    background-color: #f4b9b8;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    gap: 300px;
    border: none;
}

.sub-navbar a {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #000000;
    font-size: 20px;
    transition: background-color 0.3s;
}

.sub-navbar a:hover {
    color: #f4b9b8;
}

/*wyszukiwarka*/
.search-bar {
    display: flex;
    justify-content: center;  /* Wyrównanie paska wyszukiwania na środku */
    margin-top: 100px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-form input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000000;
    font-size: 30px;
    width: 600px;  /* Szerokość paska wyszukiwania */
}

.search-form button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #f4b9b8;
}

/*przycisk dodawania atrakcji*/
.add-attraction-btn {
    text-align: center;  /* Wyrównanie przycisku na środku */
    margin-top: 20px;
}

.add-attraction-button {
    background-color: #fff3b2; /* Zielony kolor przycisku */
    color: #ffaf02;
    padding: 10px 150px;
    font-size: 16px;
    border: 2px solid #ffaf02;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-attraction-button:hover {
    background-color: #ffaf02; 
    color: #fff3b2;
}