body {
    background: #f9f1f0;
}

.content {
    padding: 20px;
    background: #f9f1f0 url("{% static 'images/stronka_transparent.png' %}") no-repeat center center;
    background-size: contain; /* Adjust to ensure the full image is visible */
    min-height: 100vh; /* Ensure the section covers the full viewport height */
    background-position: center calc(50% - 220px); /* Move the background up by 300px */
}

/*wyszukiwarka*/
.home-search-bar {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.home-search-form {
    display: flex;
    gap: 10px;
}

.home-search-form input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000000;
    font-size: 30px;
    max-width: 600px;
    width: 80%;  /* Szerokość paska wyszukiwania */
}

.home-search-form button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.home-search-form button:hover {
    color: #f4b9b8;
}

/*przycisk dodawania atrakcji*/
.add-attraction-btn {
    text-align: center;  /* Wyrównanie przycisku na środku */
    margin-top: 20px;
}

.add-attraction-button {
    background-color: #fff3b2; /* Zielony kolor przycisku */
    color: #ffaf02;
    padding: 10px 150px;
    font-size: 16px;
    border: 2px solid #ffaf02;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-attraction-button:hover {
    background-color: #ffaf02; 
    color: #fff3b2;
}