body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-color: #887bb0;
    padding: 60px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a,
.navbar form {
    margin-left: 15px;
}

.navbar button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    transition: background-color .3s ease-in-out;
}

.navbar button:hover {
    background-color: #f4b9b8;
}


.content {
    padding: 20px;
}

.user-info {
    margin-right: 10px;
}

.sub-navbar {
    background-color: #f4b9b8;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    gap: 300px;
    border: none;
}

.sub-navbar a {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #000000;
    font-size: 20px;
    transition: color 0.3s ease-in-ou; /*to-do*/
}

.sub-navbar a:hover {
    color: #f4b9b8;
}