{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj atrakcje</title>
    <link rel="stylesheet" href="{% static 'css/dodaj_miejsce.css' %}">
</head>
<body>
    <h1>Dodaj atrakcje</h1>
    <form method="post" class="form-container">
        {% csrf_token %}
        <div class="left-form">
            {{ form.Nazwa }}
            {{ form.Adres }}
            {{ form.ID_Kategoria }}
            {{ form.ID_Region }}
        </div>
        <div class="right-form">
            <div class="upload-box">
                <span>+ dodaj zdjęcie</span>
            </div>
        </div>
        <div class="rating">
            <label>Ocena:</label>
            <span>★ ☆ ☆ ☆ ☆</span> <!-- Na razie statycznie, bo model nie ma oceny -->
        </div>
        <div class="full-width">
            {{ form.Opis }}
        </div>
        <div class="full-width">
            <button type="submit">Dodaj</button>
        </div>
    </form>
</body>
</html>
