{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Historia</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/historia.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <a href="{% url 'strona_glowna' %}">
        <div><strong>FavPlaces</strong></div>
      </a>

      <div style="display: flex; align-items: center">
        {% if uzytkownik %}
        <div class="user-info">
          {{ uzytkownik.Imie }} {{ uzytkownik.Nazwisko }}
        </div>
        <form method="post" action="{% url 'wyloguj' %}">
          {% csrf_token %}
          <button type="submit">Wyloguj</button>
        </form>
        {% else %}
        <a href="{% url 'logowanie' %}"><button>Zaloguj się</button></a>
        <a href="{% url 'rejestracja' %}"><button>Zarejestruj się</button></a>
        {% endif %}
      </div>
    </div>

    <div class="sub-navbar">
      <a href="{% url 'atrakcje' %}">Atrakcje</a>
      <a href="{% url 'historia' %}">Historia</a>
      <a href="{% url 'ranking' %}">Ranking</a>
    </div>

    <div class="content">
      <!-- Pasek wyszukiwania historii -->
      <div class="his-search-bar">
        <form class="his-search-form" method="get" action="{% url 'historia' %}">
          <input type="text" name="q" placeholder="Szukaj w historii...">
          <button type="submit">Szukaj</button>
        </form>
      </div>

      <div class="shadow-panel">
        <h2>Twoja historia wyszukiwania</h2>
        <p>Tutaj będą wyświetlane ostatnie wyszukiwane miejsca lub działania użytkownika.</p>
      </div>
      
    </div>
  </body>
</html>
