{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Historia</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/historia.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <a href="{% url 'strona_glowna' %}">
        <div><strong>FavPlaces</strong></div>
      </a>

      <div style="display: flex; align-items: center">
        {% if uzytkownik %}
        <div class="user-info">
          {{ uzytkownik.Imie }} {{ uzytkownik.Nazwisko }}
        </div>
        <form method="post" action="{% url 'wyloguj' %}">
          {% csrf_token %}
          <button type="submit">Wyloguj</button>
        </form>
        {% else %}
        <a href="{% url 'logowanie' %}"><button>Zaloguj się</button></a>
        <a href="{% url 'rejestracja' %}"><button>Zarejestruj się</button></a>
        {% endif %}
      </div>
    </div>

    <div class="sub-navbar">
      <a href="{% url 'atrakcje' %}">Atrakcje</a>
      <a href="{% url 'historia' %}">Historia</a>
      <a href="{% url 'ranking' %}">Ranking</a>
    </div>

    <div class="content">
        <!-- Pasek wyszukiwania historii -->
        <div class="his-search-bar">
            <form class="his-search-form" method="get" action="{% url 'historia' %}">
                <input type="text" name="q" placeholder="Szukaj w historii..." value="{{ q }}">
                <button type="submit" class="his-search-button">Szukaj</button>
                <input type="date" name="data_wyszukiwania" class="calendar-picker" value="{{ data_wyszukiwania }}"/>                
            </form>
        </div>

        {% if biezaca_data %}
          <p class="filter-info">Wyniki z dnia: <strong>{{ biezaca_data|date:"d.m.Y" }}</strong></p>
        {% endif %}

        {% if historia_lista %}
        <ul class="historia-lista">
            {% for wpis in historia_lista %}
            <li class="miejsce-box">

                <div class = "shadow-panel">          
                <div class="miejsce-zdjecia">
                    {% for zdjecie in wpis.ID_Miejsca.zdjęcia.all %}
                    {% if zdjecie.URL %}
                    <img src="{{ zdjecie.URL }}" alt="Zdjęcie miejsca" width="250" loading="lazy">
                    {% else %}
                    <p>Brak zdjęcia z URL</p>
                    {% endif %}
                    {% empty %}
                    <p>Brak zdjęć dla tej atrakcji.</p>
                    {% endfor %}
                </div>

                <div class="miejsce-info">
                    <p><strong>Nazwa:</strong> {{ wpis.ID_Miejsca.Nazwa }}</p>
                    <p><strong>Adres:</strong> {{ wpis.ID_Miejsca.Ulica }}, {{ wpis.ID_Miejsca.Kod_pocztowy }}, {{ wpis.ID_Miejsca.Miejscowość }}</p>
                    <p><strong>Data:</strong> {{ wpis.Data_wyszukiwania|date:"d-m-Y H:i" }}</p>
                </div>

            </li>
            {% endfor %}
        </ul>
        {% else %}
        <li class="miejsce-box">
                <div class = "shadow-panel">
                      <p><strong>Brak historii wyszukiwań do wyświetlenia.</strong></p>
                </div>
        </li>
        {% endif %}
        

        {% if page_obj.has_previous or page_obj.has_next %}
         <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% if query %}q={{ query }}&{% endif %}{% if data_wyszukiwania %}data_wyszukiwania={{ data_wyszukiwania }}&{% endif %}page=1">⏮ Pierwsza</a>
                    <a href="?{% if query %}q={{ query }}&{% endif %}{% if data_wyszukiwania %}data_wyszukiwania={{ data_wyszukiwania }}&{% endif %}page={{ page_obj.previous_page_number }}">◀ Poprzednia</a>
                {% endif %}

                <span>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?{% if query %}q={{ query }}&{% endif %}{% if data_wyszukiwania %}data_wyszukiwania={{ data_wyszukiwania }}&{% endif %}page={{ page_obj.next_page_number }}">Następna ▶</a>
                    <a href="?{% if query %}q={{ query }}&{% endif %}{% if data_wyszukiwania %}data_wyszukiwania={{ data_wyszukiwania }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Ostatnia ⏭</a>
                {% endif %}
            </span>
        </div>
        {% endif %}



      </div>
</body>
</html>
