{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ miejsce.nazwa }}</title>

    <!--basic css template-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/miejsce_szczegoly.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'strona_glowna' %}">
            <div><strong>FavPlaces</strong></div>
        </a>

        <div style="display: flex; align-items: center;">
            {% if uzytkownik %}
                <div class="user-info">{{ uzytkownik.Imie }} {{ uzytkownik.Nazwisko }}</div>
                <form method="post" action="{% url 'wyloguj' %}">{% csrf_token %}
                    <button type="submit">Wyloguj</button>
                </form>
            {% else %}
                <a href="{% url 'logowanie' %}"><button>Zaloguj się</button></a>
                <a href="{% url 'rejestracja' %}"><button>Zarejestruj się</button></a>
            {% endif %}
        </div>
    </div>

    <div class="sub-navbar">
        <a href="{% url 'atrakcje' %}">Atrakcje </a>
        <a href="{% url 'historia' %}">Historia </a>
        <a href="{% url 'ranking' %}">Ranking </a>
    </div>

    <div class="content">
        <h2>{{ miejsce.nazwa }}</h2>
        <img src="{{ miejsce.zdjecie.url }}" style="max-width: 300px;">
        <p><strong>Adres:</strong> {{ miejsce.adres }}</p>
        <p><strong>Mapa:</strong> <a href="{{ miejsce.link_do_mapy }}" target="_blank">Google Maps</a></p>
        <p><strong>Ocena:</strong> {{ miejsce.ocena }}/5</p>
        <a href="{% url 'strona_glowna' %}">← Wróć</a>
        <a href="{% url 'dodaj_recenzje' miejsce.ID_Miejsce %}"><button>Dodaj recenzję</button></a>
    </div>
</body>
</html>
